@media (max-width: 600px) {
  body {
    margin: 0;
  }

  main {
    width: auto;
  }

  main .left-to-right:nth-child(1) {
    padding: 75px 0;
  }

  main .left-to-right article {
    margin: 0 auto;
    padding: 20px;
    border-radius: 20%;
  }

  main .left-to-right article button,
  main section:nth-child(2) button {
    display: none;
  }

  main section:nth-child(2),
  main section:nth-child(4) {
    flex-wrap: wrap;
  }

  main section:nth-child(4) article {
    width: 100%;
    margin: 0;
  }

  main section:nth-child(4) form {
    width: 100%;
    text-align: center;
  }

  main section:nth-child(4) form input,
  main section:nth-child(4) form textarea {
    width: 70%;
  }

  main section:nth-child(4) form input[type="submit"] {
    width: 20%;
  }

  main section:nth-child(4) img {
    margin: 0 auto;
  }
}
