@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 16px/1.5 "PT Sans", sans-serif;
}

header .upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  background-color: #d01919;
  color: white;
}

header .upper p {
  padding: 1rem 4rem;
}

i:not(:nth-child(4)) {
  padding-right: 1rem;
}

header .lower {
  height: 80vh;
  background: url("../Requirements-and-Resources/image/fitness-main.jpg") center /
    100% no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  align-self: flex-end;
}

nav ul {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: bold;
}

nav a {
  display: block;
  padding: 2rem 4rem 0 0;
  color: white;
  text-decoration: none;
}

.lower h1 {
  font: bold 6rem "PT Serif", serif;
}
