@media (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    padding: 0;
    padding-top: 1em;
    flex-direction: column;
    text-align: center;
  }

  .trainings {
    flex-direction: column;
  }

  .trainings div {
    width: 50%;
  }
}