@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 16px/1.5 "PT Sans", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0 5em;


  height: 200vh;
}

li {
  list-style: none outside;
}

h2 {
  font-size: 2em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../Requirements-and-Resources/image/computer-main.jpg") center/ cover no-repeat;
}

header .links {
  padding-top: 2em;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}

header h1 {
  padding-top: 1em;
  font-size: 3.5em;
}

header h1 + p {
  padding-top: 0.8em;
  width: 42%;
  font-size: 1.4em;
}

header p + a {
  margin: 2.7em 0 2.5em 0;
  padding: 0.3em 1em;
  font-weight: bold;
  background-color: #00D08E;
  border-radius: 0.2em;
  text-shadow: none;
}

header a + a {
  margin-bottom: 3.5em;
}

main .top {
  display: flex;
}

main .top .image,
main .top .content {
  flex: 0 0 50%;
}

main .top .image {
  background: url('../Requirements-and-Resources/image/tablet.jpg') center / cover;
}

main .top .content {
  padding: 1.5em 3.5em;
}

main .top .content p {
  font-size: 1.3em;
  padding-bottom: 1.5em;
}

main .top .content li {
  padding-bottom: 0.85em;
  font-size: 1.1em;
}

main .top .content i {
  color: #00D08E;
  padding-right: 2em;
}

main .middle {
  display: flex;
}

main .middle .content,
main .middle .image {
  flex: 0 0 50%;
}

main .middle .content {
  padding: 2em 4em;
  text-align: center;
}

main .middle .content .wrapper {
  height: 18em;
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

main .middle .content .wrapper .element {
  width: 30%;
}

main .middle .content .wrapper .element img {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: auto;
}

main .middle .content .wrapper .element p {
  padding-top: 0.3em;
  font-size: 1.3em;
  font-weight: bold;
  color: #00D08E;
}

main .middle .image {
  background: url('../Requirements-and-Resources/image/pen.jpg') center / cover no-repeat;
}

