@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 16px/1.5 "PT Sans", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0 5em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../Requirements-and-Resources/image/computer-main.jpg") center/ cover no-repeat;
}

header .links {
  /* padding: 2em 11.5em; */
  padding-top: 2em;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

header .links a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}

header h1 {
  padding-top: 1em;
  font-size: 3.5em;
}
