@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 16px/1.5 "PT Sans", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "PT Serif", serif;
}
