*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 16px/1.5 Helvetica, sans-serif;
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  html {
    font-size: 11px;
  }
}

body {
  /* width: 100%; */
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h2:after {
  display: block;
  content: "";
  width: 10rem;
  margin: 0 auto;
  border-bottom: 4px solid #21a2b5;
}

button {
  cursor: pointer;
}

header {
  padding: 2rem 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

header p {
  font-size: 2.5rem;
  vertical-align: bottom;
}

header p span {
  color: #21a2b5;
}

header ul {
  display: flex;
  width: 50rem;
  justify-content: space-between;
}

header li {
  list-style: none;
  display: block;
  padding: 0.5rem 0;
  border-bottom: 3px solid transparent;
}

header li:hover {
  border-bottom: 3px solid #21a2b5;
}

header a {
  text-decoration: none;
  color: #000;
}

main .top {
  height: 46rem;
  padding: 17rem 0 0 14rem;
  background: url("../images/slide2.jpg") center / cover no-repeat;
}

main .top section {
  width: 45rem;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

main .top p {
  font-size: 3.8rem;
}

main .top button {
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 3rem;
  background-color: #008cba;
  color: #fff;
}

main .middle {
  padding: 3rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .middle p {
  padding: 1rem 0 3rem 0;
  font-size: 1.3rem;
  text-align: center;
}

main .middle button {
  padding: 1rem 2.5rem;
  background-color: #454545;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 2rem;
}

main .bottom {
  padding: 3rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef0f1;
}

main .bottom h2 {
  padding-bottom: 3rem;
}

main .bottom h2:after {
  border-color: #454545;
}

main .bottom .services-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main .bottom .services-list > section {
  width: 31.5%;
  background-color: #fff;
  text-align: center;
  border-radius: 0.3rem;
  overflow: hidden;
}

main .bottom h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

main .bottom .services-list img {
  width: 100%;
  height: auto;
}

main .bottom .content {
  padding: 2rem 1rem;
}

main .bottom p {
  padding: 1rem 0;
}

main .bottom button {
  padding: 1rem 2rem;
  background-color: #454545;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.3rem;
}

footer .top {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393f43;
  color: #fff;
}

footer .top h2:after {
  border-color: #fff;
}

footer .top p {
  font-size: 1.4rem;
  padding: 1rem 0;
}

footer .top .email {
  padding: 1rem;
}

footer .top .email input {
  width: 42rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  background-color: #545a5e;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
}

footer .top .email button {
  padding: 0.7rem 3rem;
  margin-left: 0.5rem;
  font-size: 1.7rem;
  background-color: #6bbfff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  vertical-align: bottom;
}

footer .middle {
  padding: 4rem 15rem;
  background-color: #2f3539;
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
}

footer .middle li {
  list-style: none;
}

footer .middle a {
  display: block;
  padding-top: 0.5em;
  text-decoration: none;
  color: #fff;
}

footer .middle .icons-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .bottom {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: #262B2F;
  color: #fff;
}

footer .bottom span {
  color: #2263AD;
}